{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["react-app", "prettier"],
    "rules": {
        "react/display-name": "off",
        "react-hooks/exhaustive-deps": "off"
    }
}
